<%- include('header') -%>
<h2>This is the about page</h2>
<p>Welcome to my ToDoList website.<br>Feel free to add contents to it and check the box once done.<br>Hapy listing</p>
<%- include('footer') -%>